<!DOCTYPE html>
<html>
<head>
    <title>Candidate Resume</title>
</head>
<body>
    <a href="@Url.Action("DownloadResume")" download="@ViewBag.FileName"><button type="submit">Download File</button></a>
</body>
</html>