@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<head>
    <title>Candidate Resume</title>
    <style>
        .partialViewWrapper {
            
            overflow-y: auto;
        }
    </style>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body >   
    <div class="partialViewWrapper">
       
        <iframe src="@Url.Action("PartialPreviewResume")" width="900" height="700"></iframe>
       
    </div>
</body>